#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
    background-position: center;
    z-index: -999;
}
.welcome{
    z-index: 999;
    color:white;
}
.video-box{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 36px;

}
.video-box p{
    width: 60%;
    margin: 0 auto;
    font-family: "Brevia Medium";
    line-height: 120%;
}
.btn-white{
    width: 160px;
    height: 48px;
    background-color: transparent;
    margin: 20px 30px;
    color:white;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}
.btn-white:hover{
    background-color: rgba(255,255,255,.1);
}


/*
ABOUT*/
.slide-home{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/Horizonte_030.png");
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}
.box-white{
    margin-top: 70px;
    width: 440px;
    height: 320px;
    background-image: url("../assets/Group.png");
    background-size: cover;
    background-position: center;

    padding: 16px 24px 24px 70px;
}
.box-white h2{
    font-size: 36px;
}
.titulos{
    font-family: "Brevia Bold";
    font-size: 48px;
    color:#2D2926;
}
.txt{
    font-family: "Brevia Medium";
    font-size: 18px;
    line-height: 40px;
    color:#2D2926;
}
.subtitulos{
    font-family: "Brevia Bold";
    font-size: 32px;
    color:#2D2926;
}
.parrafo{
    font-family: "Brevia Medium";
    font-size: 18px;
    line-height: 24px;
    color:#2D2926;
}
.box-white img{
    width: 56px;
    margin: 24px 0;
}
.intro{
    width: 100%;
    padding: 70px 15%;
    box-sizing: border-box;
    text-align: center;
}
.intro img{
    width: 200px;
}

.founder{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.photo-box{
    width:20%;
}
.photo-box h3{
    position: relative;
    left: 50%;
    text-align: center;
}
.photo-box:hover{
    cursor: pointer;
    transition: all 1s ease;
    filter: grayscale(80%);
}
.recuadro{
    background-color:rgba(218,217,222,.23);
    min-height: 600px;
    width: 80%;
    padding: 5% 5% 5% 15%;
    box-sizing: border-box;
}
.recuadro p{
    font-size: 16px;
    line-height: 40px;
    color:#2D2926;
    text-align: center;
}
.recuadro hr{
    width: 10%;
    height: 2px;
    border: none;
    background-color: #2D2926;
}
.guillermo{
    width: 250px;
    position: relative;
    left: 50%;

}
.flex-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 50px 10% 0 10%;
    box-sizing: border-box;
}
.bx-img{
    width: 20%;
}
.bx-info{
    width: 60%;
}
.card{
    width: 100%;
    height: 200px;
    box-shadow: 6px 12px 28px -18px #BFBCBC;
    padding: 5%;
    box-sizing: border-box;
    font-family: "Brevia Medium";
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #2D2926;
    opacity: .8;
}
.card-small{
    width: 200px;
    flex-grow: 1;
    height: auto;
    box-shadow: 6px 12px 28px -18px #BFBCBC;
    padding: 3%;
    box-sizing: border-box;
    font-family: "Brevia Medium";
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    color: #2D2926;
    opacity: .8;
    margin: 0 20px;
}
.card-small p{
    font-size: 16px;
}


.slide-initial{
    width: 90%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 36px;
    padding-left:5%;
}
.box-home{

    width: 440px;
    height:auto;
    background-color: white;

    padding: 16px 24px;
}
.hm{
    line-height: 60px;
}
.manifiesto{
    width: 100%;
    padding: 100px 20% 30px 20%;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}
.manifiesto img{
    width: 80%;
}
.manifiesto p{
    font-size: 24px;
    font-family: "Brevia Medium";
    line-height: 40px;
}
.card-azul{

}
.products{
    width: 100%;
    padding: 32px 10% 56px 10%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.card-azul:hover{

}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

    background-color: #3B5671;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BEC5CE;
    font-family: "Brevia Medium";

}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    color: #3B5671;
    background-color:#D9D8DD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Brevia Light";
    padding: 0 2%;
    box-sizing: border-box;
}
.contacto{
    height: 100vh;
    background-color: #fff;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.img-contacto{
    width: 50%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-image: url("../assets/Horizonte_030.png");

}
.form-contacto{
    -webkit-box-shadow: -5px 1px 11px 1px hsla(0,0%,59%,.25);
    box-shadow: -5px 1px 11px 1px hsla(0,0%,59%,.25);
    padding-top: 10%;
    text-align: center;
    /* width: 300px; */
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.form_ctc div {
    border-bottom: 1px solid #dbdbdb;
    width: 60%;
    margin: 20px auto;
}
.form_ctc div input, .form_ctc div textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
}